@import url('https://fonts.googleapis.dom/css?family=Roboto:400,500,300,700');
@import url('https://fonts.googleapis.dom/css?family=Raleway');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fafafa;
    color: white;
    overflow-x: hidden;
}

.menu {
    box-shadow: 10px 5px 65px #000000;
    display: flex;
    width: 100%;
    color: white;
    background: #303030;
    left: 0;
    top: 0;
    position: sticky;
    padding: 50px;
}

.menu p {
    font-family: "MuseoModerno Thin";
    font-size: 30px;
    color: white;
    transform: translate(50%, 0%);
}

.menu ul {
    transform: translate(100%, 20%);
    display: inline-flex;
    padding: 0 20px;
}

.menu li {
    list-style: none;
    font-family: "MuseoModerno Thin";
    font-size: 20px;
    padding: 0px 30px 0px 30px;
}

.menu a {
    text-decoration: none;
    color: white;
    opacity: 0.7;
}

.menu a:hover {
    text-decoration: none;
    color: #ffffff;
    opacity: 1;
}


.button a {
    text-decoration: none;
    color: white;
    opacity: 0.7;
    padding: 5px 20px 5px 20px;
    border-radius: 4px;
    box-shadow: 0 0 5px white;
    text-shadow: 0 0 5px white;
    transition: box-shadow .3s;
}

.button a:hover {
    text-decoration: none;
    transition: box-shadow .6s;
    color: #ffffff;
    opacity: 1;
    box-shadow: 0 0 5px #ffffff;
    text-shadow: 0 0 5px #ffffff;
}

.a p{
    transform: translate(50%, -10%);
    font-size: 17px;
    text-align: center;
    width: 50%;
    font-family: "Yu Gothic";
    color: black;
    right: 0px;
    margin: 50px 0px 50px 0px;
}

.a h1{
    transform: translate(50%, 0%);
    text-align: center;
    width: 50%;
    font-family: "Yu Gothic";
    color: black;
    right: 0px;
    margin: 50px 0px 0px 0px;
}


.a h5 {
    transform: translate(50%, -180%);
    font-size: 17px;
    text-align: center;
    width: 50%;
    font-family: "Yu Gothic";
    color: black;
    right: 0px;
    margin: 0px 0px 0px 0px;
}

.b {
    background-color: rgba(16,16,16,0.69);
    box-sizing: border-box;
    box-shadow: 3px 5px 10px rgba(41,41,41,0.9);
    display: inline-block;
    padding: 100px;
    width: 60%;
    transform: translate(33%, 8%);
    margin-bottom: 100px;
}

.b h1 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.b p{
    text-align: left;
    padding: 10px;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}

.b a {
    background-color: #323232;
    color: black;
    padding-top: 10px;
    text-decoration: none;
    padding-bottom: 10px;
    display: block;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    transition: background-color .3s;
    transition: color .3s;
}

.b a:hover {
    transition: background-color .5s;
    transition: color .5s;
    background: #EF9F9F;
    color: #FCD8D4;
}


.d {
    margin: 60px;
    color: #303030;
    display: block;
    float: right;
    transform: translate(0%, -110%);
    position: relative;

}

.d h1 {
    transform: translate(-15%, 0%);
    text-align: right;
    color: black;
    font-family: "MuseoModerno Thin";

}

.d h4 {
    transform: translate(-30%, 0%);
    color: black;
    text-align: right;
    font-weight: bolder;
    font-size: 20px;
    font-family: "MuseoModerno Thin";

}

.d h4:after {
    text-align: right;
    content: '  <--!';
}

.d p {
    font-family: 'Raleway', sans-serif;
    text-align: right;
    color: black;
    width: 50%;
    font-size: 16px;
    transform: translate(75%, 0%);
}

.d h5 {
    font-family: 'Raleway', sans-serif;
    text-align: right;
    transform: translate(40%, 0%);
    color: black;
    font-weight: normal;
    font-size: 15px;
    width: 60%;
}

.d h5:before {
    text-align: right;
    content: '#-->  ';
}

.f {
    width: 100%;
    margin: 60px 0px 0px 0px;
    transform: translate(6%, -90%);
    display: inline-block;
    position: sticky;
    color: #303030;

}

.f h1 {
    transform: translate(10%, 0%);
    color: black;
    font-family: "MuseoModerno Thin";

}

.f h4 {
    transform: translate(10%, 0%);
    color: black;
    font-weight: bolder;
    font-size: 20px;
    font-family: "MuseoModerno Thin";

}

.f h4:before {
    content: '!-->  ';
}

.f p {
    font-family: 'Raleway', sans-serif;
    transform: translate(30%, 0%);
    font-size: 16px;
    color: black;
    text-align: left;
    width: 30%;
}

.f h5 {
    font-family: 'Raleway', sans-serif;
    transform: translate(42%, 0%);
    color: black;
    font-weight: normal;
    font-size: 15px;
    text-align: left;
    width: 30%;
}

.f h5:before {
    content: '#-->  ';
}

.c {
    width: 100%;
    margin: 60px 0px 0px 0px;
    display: inline-block;
    position: sticky;
    color: #303030;

}

.c h1 {
    transform: translate(10%, 0%);
    color: black;
    font-family: "MuseoModerno Thin";

}

.c h4 {
    transform: translate(10%, 0%);
    color: black;
    font-weight: bolder;
    font-size: 20px;
    font-family: "MuseoModerno Thin";

}

.c h4:before {
    content: '!-->  ';
}

.c p {
    font-family: 'Raleway', sans-serif;
    transform: translate(30%, 0%);
    font-size: 16px;
    color: black;
    text-align: left;
    width: 30%;
}

.c h5 {
    font-family: 'Raleway', sans-serif;
    transform: translate(42%, 0%);
    color: black;
    font-weight: normal;
    font-size: 15px;
    text-align: left;
    width: 30%;
}

.c h5:before {
    content: '#-->  ';
}


.e {
    background: rgba(33, 33, 33, 0.8);
    padding: 65px;
    margin-top: 300px;
    box-shadow: 10px 5px 65px #000000;
    width: 100%;
    position: sticky;
}

.e ul {
    display: inline-flex;
    float: right;
    transform: translate(0%, -20%);
}

.e li {
    list-style: none;
    font-family: "MuseoModerno Thin";
    font-size: 20px;
    padding: 0px 15px 0px 15px;
}